div.display-area {
  background-color: rgb(179, 179, 180);
}

div.item {
  border-radius: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(100, 100, 100);
}

li {
  float: left;
}

li button {
  text-align: center;
  display: block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
}

li button:hover {
  background-color: rgb(160, 160, 160);
  outline: none;
}

li input[type=range] {
  margin-top: 2px;
  height: 8px;
  width: 80px;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #000000;
}

p {
  margin-left: 10px;
  display: inline;
  color: white;
}


input:focus {
  outline: none;
}
