div.display-area {
  background-color: rgb(216, 216, 216);
  margin-top: 10px;
}


div.settings {
  background-color: gold;
  height: 25px;
}

button {
  text-align: center;
  display: inline;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
}
